.dash-container{
    background-color: var(--color-black);
    border: 1px solid var(--amber-dark);
    color: var(--ivory-color);
}


.dash-svg{
    width: 30px;
}

.sizeFont{
    font-size: 22px;
}

.dash-svg2{
    width: 40px;
}

.dash-svg-normal{
    max-width: 30%;
}