.navbar-container{
    background-color: var(--primary-color);
    color: var(--ivory-color);
}

.navbar-href:hover{
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    
    color: var(--secondary-color);
}

.nb-name:hover{
    color: var(--secondary-color);
}

.dropdown:hover{
    color: var(--secondary-color);
}

.dropdown-menu{
    background-color: var(--ivory-color);
    color: var(--color-black);
}

.dropdown-select:hover{
    color: var(--color-black);
    background-color: var(--secondary-bg);
}