.navbar-container{
    background-color: var(--color-black);
    border: 1px solid var(--amber-dark);
    color: var(--ivory-color);
}

.navbar-href:hover{
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
    
    color: var(--amber-color);
}

.nb-name:hover{
    color: var(--amber-color);
}

.dropdown:hover{
    color: var(--amber-color);
}

.dropdown-menu{
    background-color: var(--ivory-color);
    color: var(--color-black);
}

.dropdown-select:hover{
    color: var(--color-black);
    background-color: var(--amber-color-soft);
}