@import "tailwindcss";
@import './styles/constants/constants.css';
@import './styles/components/navbar.css';
@import './styles/components/dashboard.css';
@import './styles/components/alerts.css';
@import './styles/components/submitButton.css';
@font-face {
  font-family: 'primaryFont';
  src: url('/assets/fonts/primaryFont.ttf') format('truetype');
}

html, body {
  @apply bg-white dark:bg-gray-950;
  font-family: var(--primary-font);
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.video-section {
  display: flex;
  height: 100vh;
}

.video-container {
  flex-grow: 1;
  width: 0;
  overflow: hidden;
  position: relative;
  transition: width 0.5s ease;
  background-size: cover;
  background-position: center;
}


.video-container .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; 
}

.video-container:hover .video {
  opacity: 1;
  filter: contrast(100%);
}

.hover-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-shadow: 1px 1px 5px black;
}

.video-container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.video-container:hover .background-image {
  opacity: 0;
}

.video-container:hover .hover-text {
  opacity: 1;
}

.logo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  width: 500px;
  height: 500px; 
}

/*
.logo-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
  */

  /* Agrega esto a tus estilos */
.font-serif {
  font-family: 'primaryFont', serif;
}

.bg-amber-50 {
  background-color: #fffbeb;
}

.bg-amber-600 {
  background-color: #d97706;
}

.hover\:bg-amber-700:hover {
  background-color: #b45309;
}

.text-amber-600 {
  color: #d97706;
}

.hover\:text-amber-800:hover {
  color: #92400e;
}

.border-gray-100 {
  border-color: #f3f4f6;
}