:root{
    --primary-color: #002b5b; /*DARK BLUE*/
    --primary-color-soft: #3a4d6b; 
    --secondary-color: #d4af37;
    --secondary-color-darker: #be9d2f;  /*GOLDEN*/
    --bone-color: #f8f8f8; 
    --gray-color: #2c2c2c; 
    --gray-blue-color: #6c7a89; 
    --ivory-color: #fff8e7;  /*COLOR MARFIL*/
    --secondary-bg: #f6e3a4;
    --wine-color: #5a001f; 
    --wine-color-soft: #7c1f3a; 
    --green-color: #007a5e;        
    --green-color-soft: #2ea67f; 
    --amber-color: #d97706;
    --amber-color-soft: #fbbf24;

    /*FONTS*/
    --primary-font: 'primaryFont';

}